%typographie {
    @include policeRoboto;
    font-size: 1.5rem;
}
// pour le soustitre a gauche du prix
%sous-titre {
    position: absolute;
    top: 5px;
}
%sous-titre__typographie {
    font-size: 0.9em;
} 